<div class="container">
  <h2>Forgot Password</h2>
  <p>Enter your email address and we will send you a link to reset your password.</p>

  <form (ngSubmit)="onSubmit()">
    <app-email-input
      [(ngModel)]="email"
      name="email"
      id="email"
      [required]="true"
    ></app-email-input>

    <div *ngIf="message" [ngClass]="{'success-message': !isError, 'error-message': isError}">
      {{ message }}
    </div>

    <div class="button-group">
      <button type="submit" class="btn primary">Send Recovery Email</button>
    </div>
  </form>
</div>
