#############################
# Example environment file  #
#############################
#
# postgres
#
POSTGRES_DB=ares
POSTGRES_USER=ares
POSTGRES_PASSWORD=salted-and-hashed-password
# backend
ACTIVE_PROFILE=(dev|prod)
ALLOWED_ORIGINS=
SPRING_DATASOURCE_DRIVER=org.postgresql.Driver
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/ares
SPRING_MAILHOST=FQDN for mail relay
SPRING_MAIL_PORT=mail relay port
SPRING_MAIL_USERNAME=mail relay username
SPRING_MAIL_PASSWORD=mail relay password
SPRING_MAIL_SMTP_AUTH=false
SPRING_MAIL_SMTP_STARTTLS_ENABLE=false
JWT_SECRET=super long jwt secrete
ARES_ADMIN_EMAIL="admin@example.com"
ARES_ADMIN_PASSWORD=salted and hashed password
ARES_TEST_USER1="test1@example.com"
ARES_TEST_USER_PW1=salted and hashed password
ARES_TEST_USER2="test2@example.com"
ARES_TEST_USER_PW2=salted and hashed password
ARES_TEST_USER3="test3@example.com"
ARES_TEST_USER_PW3=salted and hashed password
