spring:
    application:
        name: Ares
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        ddl-auto: update
    datasource:
        url: jdbc:h2:mem:testdb
        driverClassName: org.h2.Driver
        username: sa
        password: password
    h2:
        console:
            enabled: true
            path: /h2-console
    security:
        user:
            password: password