spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
security:
  jwt:
    secret: ${JWT_SECRET}
    refresh_expiration_ms: 86400000 # 24 hr
    access_expiration_ms:  3600000  # 1 min