<div class="feed-items-container" *ngIf="feed; else noFeed">
  <div class="feed-header">
    <h3>{{ feed.title }}</h3>
    <p class="feed-description" *ngIf="feed.description">{{ feed.description }}</p>
    <a [href]="feed.link" target="_blank" class="feed-source-link">Visit Website</a>
  </div>

  <div class="items-list">
    <div *ngFor="let item of items" class="item-card">
      <h4><a [href]="item.link" target="_blank">{{ item.title }}</a></h4>
      <div class="item-meta">
        <span *ngIf="item.date">{{ item.date | date:'medium' }}</span>
      </div>
      <p class="item-description" *ngIf="item.description" [innerHTML]="item.description"></p>
    </div>

    <div *ngIf="items.length === 0" class="no-items">
        <p>No items found in this feed.</p>
    </div>
  </div>
</div>

<ng-template #noFeed>
  <div class="placeholder">
    <p>Select a feed from the list to view its articles.</p>
  </div>
</ng-template>
