<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Locked</title>
</head>
<body>
    <h1>Account Locked</h1>
    <p>Hello,</p>
    <p>Your account has been temporarily locked due to multiple failed login attempts.</p>
    <p>It will be automatically unlocked in 15 minutes.</p>
    <p>If this was not you, please contact support immediately.</p>
    <br/>
    <p>
        &copy; <span th:text="${copyrightStartYear}">2024</span>-<span th:text="${currentYear}">2024</span> Ares RSS Reader
    </p>
</body>
</html>
